*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: black;
}
header{
    overflow: hidden;
    background-color: #15133C;
    position: fixed; 
    top: 0;
    width: 100%;
    height: 25%;
    padding: 14px 16px;
}
body{
    margin-top: 13%;
    background-color:#fdf394;
}
.Header img{
    display: block;
    float: right;
    background: #15133C;
    margin-bottom: 150px;
}
h1{ font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline;
    font-size: 75px;
    text-align: left;
    margin: 0;
    color: #F1EEE9;
    margin-left: 10px;
}
h2{
    font-size: 45px;
    text-align: center;
    padding-top: 200px;
}
p{
    font-size: 25px;
    text-align: center;
}
li:hover {
    background: #ddd;
    color: black;
}
li{
    margin-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-direction: row;
    float: left;
    display: block;
    color: #F1EEE9;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 35px;
}
a:visited{
    color: white;
}
a:hover{
    color: white;
}

footer{
    position: fixed;
    overflow: hidden;
    bottom: 0px; left: 0;
    width: 100%;
    height: 50px;
    background-color: #15133C;
    text-align: center;
    padding-top: 10px;
}
li1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-direction: row;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 15px;
    color: #73777B;
}
.return{
    text-align: center;
    padding: 25px 35px;
    background-color: #15133C;
    width: 20%;
    border-radius: 15px;
    font-size: 25px;
    margin: auto;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


@media all and (max-width: 1650px){

}
@media all and (max-width: 1150px){
    .return{
        width: 55%;
    }
}
@media all and (max-width: 900px){
    header{
        height: 20%;
    }
    .return{
        width: 50%;
}
h1{
    font-size: 55px;
}
li{
    font-size: 30px;
}
}
@media all and (max-width: 700px){
    .Header img{
        width: 25%;
        height: 25%;   
    }
    header{
        height:auto;
    }
    h1{
        font-size: 50px;
    }
    li{
        font-size: 25px;
    }

}
@media all and (max-width: 480px){
    h1{
        font-size: 45px;
    }
    li{
        font-size: 15px;
    }
}
